.navbar {
    width: 100%;
    height: 80px;
    background-color: #191b21;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-logo {
    height: 50px;
    width: auto;
}

.navbar-live {
    background-color: #242527;
    padding: 4px 12px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.live-dot {
    width: 8px;
    height: 8px;
    background-color: #5de6ff;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.live-text {
    font-size: 14px;
    font-weight: 500;
    color: #c2c6d6;
}

.navbar-center {
    margin-left: -80px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #dfe2f1;
    text-decoration: none;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #08a7fd;
}

.nav-link.active {
    color: #08a7fd;
    font-weight: 600;
}
